* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.items-center {
  align-items: center; }

a {
  text-decoration: none; }

li {
  list-style: none; }

header .background {
  height: 34vh;
  background-image: url("../images/photos/headerleft.png"), url("../images/photos/headerright.png");
  background-position: left top, right top;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 480px) {
    header .background {
      background-image: url("../images/photos/fortelephone.jpg");
      background-position: center; } }
  header .background .middlePhoto {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; }
    header .background .middlePhoto img {
      width: 320px;
      height: 140px; }
header .navbar {
  z-index: 150;
  border-top: 3px double #ebebeb;
  border-bottom: 3px double #ebebeb; }
  header .navbar .container-fluid {
    width: 62% !important;
    margin: auto !important; }
    @media only screen and (max-width: 992px) {
      header .navbar .container-fluid {
        background-color: white !important;
        width: 100% !important; } }
    header .navbar .container-fluid .navbar-nav {
      padding: 6px 10px;
      width: 100%;
      height: 50px; }
      @media only screen and (max-width: 992px) {
        header .navbar .container-fluid .navbar-nav {
          height: inherit !important;
          text-align: left !important;
          margin-left: 25px; } }
      header .navbar .container-fluid .navbar-nav li {
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 14px;
        width: calc(100% / 7); }
        @media only screen and (max-width: 992px) {
          header .navbar .container-fluid .navbar-nav li {
            margin-bottom: 10px; } }
        header .navbar .container-fluid .navbar-nav li .active {
          color: #1faeca !important; }
        header .navbar .container-fluid .navbar-nav li a {
          color: #212529 !important;
          padding-bottom: 15px !important; }
          header .navbar .container-fluid .navbar-nav li a:hover {
            color: #1faeca !important; }
      header .navbar .container-fluid .navbar-nav .generalLi:hover ul {
        display: block !important; }
      header .navbar .container-fluid .navbar-nav .generalLi ul {
        text-align: start !important;
        width: 220px !important;
        padding: 0 !important;
        display: none; }
        header .navbar .container-fluid .navbar-nav .generalLi ul li {
          width: 100% !important;
          border: 1px solid #ebebeb;
          padding: 12px 20px;
          background-color: white;
          transition: all 0.3s linear; }

.slider:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-image: url("../images/photos/beforetop.png");
  background-size: cover;
  z-index: 15;
  background-position: right; }
.slider .firstSlider {
  z-index: 10; }
.slider:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 22px;
  left: 0;
  background-image: url("../images/photos/afterbottom.png");
  background-size: cover;
  z-index: 15;
  background-position: right; }

.generalPage .section1 p {
  padding: 25px;
  font-size: 17px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  line-height: 1.9rem; }
.generalPage .section2 .leftSide {
  border: 1px solid #f0f0f0;
  margin-bottom: 100px; }
  .generalPage .section2 .leftSide .center {
    height: 58vh;
    width: 100%;
    background-image: url("../images/photos/section2main.jpg");
    background-size: cover;
    background-position: center; }
    .generalPage .section2 .leftSide .center:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      height: 150px;
      background-image: url("../images/photos/section2right.png");
      background-size: cover; }
      @media only screen and (max-width: 770px) {
        .generalPage .section2 .leftSide .center:before {
          display: none !important; } }
    .generalPage .section2 .leftSide .center:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 70px;
      background-image: url("../images/photos/section2bottom.png");
      background-size: cover;
      background-position: right; }
      @media only screen and (max-width: 770px) {
        .generalPage .section2 .leftSide .center:after {
          display: none !important; } }
    @media only screen and (max-width: 1200px) {
      .generalPage .section2 .leftSide .center {
        height: 32vh !important; } }
    .generalPage .section2 .leftSide .center .comment {
      width: 120px;
      height: 90px;
      background-color: white;
      top: 0;
      right: 0;
      padding: 25px 10px; }
      @media only screen and (max-width: 770px) {
        .generalPage .section2 .leftSide .center .comment {
          display: none !important; } }
      .generalPage .section2 .leftSide .center .comment i {
        font-size: 1.2rem;
        margin-right: 20px;
        cursor: pointer;
        color: grey; }
      .generalPage .section2 .leftSide .center .comment p {
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s linear; }
        .generalPage .section2 .leftSide .center .comment p:hover {
          color: #5da5b9; }
      .generalPage .section2 .leftSide .center .comment .number {
        font-size: 18px; }
  .generalPage .section2 .leftSide .writing h1 {
    font-family: "Zeyada", cursive;
    font-size: 45px; }
  .generalPage .section2 .leftSide .writing .firstP {
    color: #5da5b9 !important;
    font-size: 24px; }
  .generalPage .section2 .leftSide .writing .secondP {
    margin-bottom: 1.5em;
    line-height: 1.8em;
    font-size: 14px; }
  .generalPage .section2 .leftSide button {
    background-color: #79c3d7;
    font-family: "Zeyada", cursive;
    font-size: 26px;
    border-radius: 0;
    padding: 5px 35px;
    transform: translateY(27px); }
.generalPage .section2 #under .center {
  background-image: url("../images/photos/section2main2.jpg"); }
.generalPage .section2 #under2 .center {
  background-image: url("../images/photos/aboutslider10.jpg"); }
.generalPage .section2 #under3 .center {
  background-image: url("../images/photos/mainslider5.jpg"); }
.generalPage .section2 #under4 .center {
  background-image: url("../images/photos/mainslider4.jpg"); }
.generalPage .section2 .rightSide {
  border: 1px solid #f0f0f0; }
  @media only screen and (max-width: 770px) {
    .generalPage .section2 .rightSide .profile {
      display: block !important; }
      .generalPage .section2 .rightSide .profile .firstP {
        width: 100% !important; } }
  .generalPage .section2 .rightSide h1 {
    font-family: "Zeyada", cursive;
    color: #5da5b9 !important;
    transform: translateY(-20px);
    font-size: 2.7rem;
    background-color: white;
    width: 120px;
    margin: auto; }
  .generalPage .section2 .rightSide .firstP {
    width: 48% !important;
    margin-bottom: 1.5em;
    line-height: 1.8em;
    font-size: 14px; }
    @media only screen and (max-width: 1200px) {
      .generalPage .section2 .rightSide .firstP {
        width: 30% !important; } }
  .generalPage .section2 .rightSide a {
    color: black;
    transition: all 0.3s linear; }
    .generalPage .section2 .rightSide a:hover {
      color: #79c3d7 !important; }
  .generalPage .section2 .rightSide hr {
    color: silver; }
  .generalPage .section2 .rightSide .photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url("../images/photos/leftimg.jpg");
    background-size: cover; }
.generalPage .section2 .second h1 {
  width: 170px; }
.generalPage .section2 .second p {
  color: #333 !important;
  font-size: 14px; }
.generalPage .section2 .third p {
  font-size: 11px;
  margin-right: 20px; }
  .generalPage .section2 .third p:hover {
    text-decoration: underline; }
.generalPage .section2 .fourth .instagramPhotos {
  width: calc(100% / 3.2);
  margin-bottom: 10px;
  cursor: pointer; }
  .generalPage .section2 .fourth .instagramPhotos img {
    object-fit: cover; }

@media only screen and (max-width: 992px) {
  #LeftSideBarPage #exampleContainer {
    max-width: 960px !important; } }
#LeftSideBarPage #examplesRightSide {
  padding-left: 0 !important; }
  #LeftSideBarPage #examplesRightSide .exampleSideBar {
    border: 1px solid #f0f0f0;
    padding-left: 25px; }
    #LeftSideBarPage #examplesRightSide .exampleSideBar h1 {
      width: 150px;
      margin: auto;
      font-family: "Zeyada", cursive;
      font-size: 45px;
      color: #5da5b9;
      transform: translateY(-21px);
      background-color: white; }
    #LeftSideBarPage #examplesRightSide .exampleSideBar .explanation {
      width: 72%;
      height: 170px;
      background-image: url("../images/photos/leftslidebar1.jpg");
      background-size: cover; }
      @media only screen and (max-width: 1200px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .explanation {
          width: 80% !important;
          margin-right: 20px; } }
      @media only screen and (max-width: 950px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .explanation {
          width: 100% !important;
          height: 190px; } }
      @media only screen and (max-width: 565px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .explanation {
          width: 100% !important;
          height: 150px; } }
      @media only screen and (max-width: 455px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .explanation {
          width: 90% !important;
          height: 120px; } }
      @media only screen and (max-width: 407px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .explanation {
          height: 90px; } }
      @media only screen and (max-width: 320px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .explanation {
          height: 70px; } }
    #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
      width: 42%;
      height: 370px;
      background-image: url("../images/photos/leftslidebar2.jpg");
      background-size: cover; }
      @media only screen and (max-width: 1400px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          width: 50%; } }
      @media only screen and (max-width: 1200px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          width: 60%; } }
      @media only screen and (max-width: 910px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          width: 70%; } }
      @media only screen and (max-width: 770px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          width: 50%; } }
      @media only screen and (max-width: 710px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          height: 340px; } }
      @media only screen and (max-width: 668px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          width: 60%; } }
      @media only screen and (max-width: 554px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          width: 65%; } }
      @media only screen and (max-width: 520px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          height: 300px; } }
      @media only screen and (max-width: 460px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          width: 75%; } }
      @media only screen and (max-width: 400px) {
        #LeftSideBarPage #examplesRightSide .exampleSideBar .pageSetting {
          width: 100%; } }
@media only screen and (max-width: 770px) {
  #LeftSideBarPage .rightSide #profile {
    display: block !important; }
    #LeftSideBarPage .rightSide #profile .firstP {
      width: 100% !important; } }

#aboutPage .aboutSide {
  border: 1px solid #f0f0f0;
  padding: 25px; }
  #aboutPage .aboutSide h1 {
    width: 120px;
    margin: auto;
    font-family: "Zeyada", cursive;
    font-size: 45px;
    color: #5da5b9;
    transform: translateY(-45px);
    background-color: white; }
  #aboutPage .aboutSide p.staff {
    color: #8fcdde;
    font-size: 27px; }
  #aboutPage .aboutSide .portfolio {
    margin-top: 35px;
    margin-bottom: 50px; }
    #aboutPage .aboutSide .portfolio button {
      font-family: "Zeyada", cursive;
      background-color: #79c3d7;
      font-size: 1.7rem;
      color: white;
      border: none;
      padding: 8px 36px 3px 36px; }
  #aboutPage .aboutSide .left {
    width: calc(100% / 2.09); }
    @media only screen and (max-width: 770px) {
      #aboutPage .aboutSide .left {
        width: 100%; } }
    #aboutPage .aboutSide .left .leftImage {
      width: 100%;
      height: 220px;
      background-image: url("../images/photos/about1.jpg");
      background-size: cover; }
  #aboutPage .aboutSide .right {
    width: calc(100% / 2.09); }
    @media only screen and (max-width: 770px) {
      #aboutPage .aboutSide .right {
        width: 100%; } }
    #aboutPage .aboutSide .right .rightImage {
      width: 100%;
      height: 220px;
      background-image: url("../images/photos/about2.jpg");
      background-size: cover; }
#aboutPage hr {
  color: #afafaf; }
#aboutPage .summerServices h2 {
  font-family: "Zeyada", cursive;
  font-size: 45px;
  color: #84c7da; }
@media only screen and (max-width: 770px) {
  #aboutPage .summerServices .attachment {
    display: block !important; } }
#aboutPage .summerServices .attachment .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer; }
  @media only screen and (max-width: 770px) {
    #aboutPage .summerServices .attachment .circle {
      margin: auto !important; } }
  #aboutPage .summerServices .attachment .circle i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear; }
    #aboutPage .summerServices .attachment .circle i:hover {
      color: #1faeca !important; }
#aboutPage .summerServices .attachment p {
  color: #84c7da; }
#aboutPage .summerServices .attachment .firstC {
  background-color: #f1d6d6;
  transition: all 0.3s linear; }
  #aboutPage .summerServices .attachment .firstC:hover {
    background-color: #f2c6c6; }
#aboutPage .summerServices .attachment .secondC {
  background-color: #b6e8d8;
  transition: all 0.3s linear; }
  #aboutPage .summerServices .attachment .secondC:hover {
    background-color: #92e8c5; }
#aboutPage .summerServices .attachment .thirdC {
  background-color: #b6bee8;
  transition: all 0.3s linear; }
  #aboutPage .summerServices .attachment .thirdC:hover {
    background-color: #949ee8; }
#aboutPage .summerServices .attachment .fourthC {
  background-color: #fffbca;
  transition: all 0.3s linear; }
  #aboutPage .summerServices .attachment .fourthC:hover {
    background-color: #fce761; }
#aboutPage .sliderInnerAbout {
  position: relative; }
  #aboutPage .sliderInnerAbout .owl-prev {
    position: absolute;
    top: 45%;
    left: 20px;
    transform: translateY(-50%);
    color: silver; }
  #aboutPage .sliderInnerAbout .owl-next {
    position: absolute;
    top: 45%;
    right: 20px;
    transform: translateY(-50%);
    color: silver; }
  #aboutPage .sliderInnerAbout .owl-dots {
    text-align: center;
    margin-top: 5px; }
    #aboutPage .sliderInnerAbout .owl-dots .active {
      background-color: grey; }
    #aboutPage .sliderInnerAbout .owl-dots button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #d6d6d6;
      margin-right: 10px; }

#gallery .gallerySide {
  border: 1px solid #f0f0f0; }
  #gallery .gallerySide h1 {
    width: 150px;
    margin: auto;
    font-family: "Zeyada", cursive;
    font-size: 45px;
    color: #79c3d7;
    transform: translateY(-25px);
    background-color: white; }
  #gallery .gallerySide .galleryPhotos .photos {
    width: calc(100% / 3.25);
    margin-bottom: 18px; }
    #gallery .gallerySide .galleryPhotos .photos img {
      object-fit: cover; }
    #gallery .gallerySide .galleryPhotos .photos p {
      font-size: 18px; }
    #gallery .gallerySide .galleryPhotos .photos hr {
      margin: 0 !important;
      padding: 0 !important;
      color: silver; }
  #gallery .gallerySide .sliderInnerGallery {
    position: relative; }
    #gallery .gallerySide .sliderInnerGallery .owl-prev {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      color: #e4e4e4; }
    #gallery .gallerySide .sliderInnerGallery .owl-next {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      color: #e4e4e4; }
    #gallery .gallerySide .sliderInnerGallery .owl-dots {
      text-align: center;
      margin-top: 5px; }
      #gallery .gallerySide .sliderInnerGallery .owl-dots .active {
        background-color: grey; }
      #gallery .gallerySide .sliderInnerGallery .owl-dots button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #d6d6d6;
        margin-right: 10px; }
  #gallery .gallerySide .sliderGallery2 img {
    object-fit: cover; }

footer .backgroundCover .bottom {
  width: 100%;
  background-image: url("../images/photos/footer3.png");
  background-size: cover;
  background-repeat: repeat; }
  footer .backgroundCover .bottom .middle {
    width: 100%;
    height: 100%;
    background-image: url("../images/photos/footer2.png");
    background-size: cover;
    background-position: bottom; }
    footer .backgroundCover .bottom .middle .top {
      width: 100%;
      height: 50px;
      background-image: url("../images/photos/footer1.png");
      background-size: cover; }
    footer .backgroundCover .bottom .middle .container h1 {
      font-family: "Zeyada", cursive;
      font-size: 3rem;
      color: grey; }
    footer .backgroundCover .bottom .middle .container p {
      line-height: 1.8em; }
    footer .backgroundCover .bottom .middle .container a {
      color: black;
      font-size: 1.1rem;
      transition: all 0.3s linear;
      margin-left: 10px; }
      footer .backgroundCover .bottom .middle .container a:hover {
        color: #1faeca !important; }
    footer .backgroundCover .bottom .middle .container input {
      width: 90%;
      border: 1px solid #e2e2e2;
      border-radius: 5px;
      padding: 6px 10px;
      font-size: 18px; }
    footer .backgroundCover .bottom .middle .container button {
      font-family: "Zeyada", cursive;
      font-size: 28px;
      color: #161616;
      padding: 12px 40px 8px 40px;
      background-color: white;
      border: none;
      transition: all 0.3s linear; }
      footer .backgroundCover .bottom .middle .container button:hover {
        background-color: grey;
        color: white; }
    footer .backgroundCover .bottom .middle .container .socialNetwork i {
      width: 40px;
      height: 40px;
      background-color: #575757;
      color: white;
      font-size: 15px;
      border-radius: 3px;
      text-align: center;
      padding-top: 10px;
      transition: all 0.3s linear; }
      footer .backgroundCover .bottom .middle .container .socialNetwork i:hover {
        background-color: grey; }

/*# sourceMappingURL=style.css.map */
